version: 0.0.{build}
os:
  - Visual Studio 2013
clone_depth: 1
branches:
  only:
    - dcmqi
skip_tags: true
clone_folder: c:\DCMTK
configuration:
  - Release
platform:
  - x64
environment:
  PYTHON_DIR: "C:\\Python27-x64"
  PATH: "%PYTHON_DIR%;%PYTHON_DIR%\\Scripts;%PATH%"
  GITHUB_TOKEN:
    secure: mnRPU2KJBMkkUa4fo4ebLpsEG/gYpcAy4/X2ihGiwZiPGpkyvF1ItFFRSlUGubvf
  APPVEYOR_API_TOKEN:
    secure: 3+wBc5SxNqx3XjsY3EZ7afvQbLAWWcw30SPGK7q+QPA=
before_build:
  # Install package required to automatically create or update GitHub releases
  - pip install -U "scikit-ci-addons>=0.18.0"
  - |
  - mkdir c:\DCMTK\DCMTK-install
  - mkdir c:\DCMTK\DCMTK-build
  - cd c:\DCMTK\DCMTK-build
  - cmake -G "Visual Studio 12 2013 Win64" -DCMAKE_BUILD_TYPE:STRING=Release -DBUILD_SHARED_LIBS:BOOL=OFF -DDCMTK_WITH_DOXYGEN:BOOL=OFF -DDCMTK_WITH_ZLIB:BOOL=OFF    -DDCMTK_WITH_OPENSSL:BOOL=OFF -DDCMTK_WITH_PNG:BOOL=OFF -DDCMTK_WITH_TIFF:BOOL=OFF -DDCMTK_WITH_XML:BOOL=OFF -DDCMTK_WITH_ICONV:BOOL=OFF -DDCMTK_FORCE_FPIC_ON_UNIX:BOOL=ON -DDCMTK_OVERWRITE_WIN32_COMPILER_FLAGS:BOOL=OFF -DDCMTK_ENABLE_BUILTIN_DICTIONARY:BOOL=ON -DDCMTK_ENABLE_PRIVATE_TAGS:BOOL=ON -DCMAKE_INSTALL_PREFIX:PATH=c:\DCMTK\DCMTK-install -DBUILD_SHARED_LIBS:BOOL=OFF -DDCMTK_COMPILE_WIN32_MULTITHREADED_DLL:BOOL=ON c:\DCMTK
  - dir
build_script:
  - cmd: msbuild DCMTK.sln /m
  - cmd: msbuild INSTALL.vcxproj
artifacts:
  - path: DCMTK-install
    name: DCMTK-dcmqi
    type: zip
deploy:
  release: DCMTK-dcmqi-3.6.5_20200113-VS12-Win64-Release-v$(appveyor_build_version)-static
  description: 'DCMTK-dcmqi-3.6.5-20200113'
  provider: GitHub
  auth_token:
    secure: mnRPU2KJBMkkUa4fo4ebLpsEG/gYpcAy4/X2ihGiwZiPGpkyvF1ItFFRSlUGubvf
  artifact: DCMTK-dcmqi
  draft: false
  prerelease: false
  on:
    branch: dcmqi
    APPVEYOR_REPO_TAG: false
